<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalPsiPackages" value="C:\Users\alexi\Documents\Dev\psi\Build\PsiPackages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalPsiPackages">
      <package pattern="Microsoft.Psi.*" />
      <package pattern="Microsoft.Msagl.WpfGraphControl" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>

